SUPABASE_URL=(without "")
SUPABASE_KEY=(without "")
SUPABASE_SERVICE_KEY=(without "")

# Auth URLs
VERIFY_EMAIL_URL="/verify"
RESET_PASSWORD_URL="/new-password"
DEFAULT_ORIGIN="http://localhost:3000"

# GCP Storage Configuration
GCP_PROJECT_ID=
GCP_BUCKET_NAME=
GCP_CREDENTIALS_PATH=

# Test User Credentials
USER_EMAIL=
USER_PASSWORD=
ADMIN_EMAIL=
ADMIN_PASSWORD=